
  /* @media print {
    .no-print {
      display: none;
    }
    .print-heading {
      display: block;
    }
  }
   */

   


   @media print {
    .print-heading {
      font-size: 14px;
    }
    .print-table {
      border: 1px solid black;
      width: 100%;
    }
    .print-table th,
    .print-table td {
      border: 1px solid black;
      padding: 8px;
    }
    .no-print {
      display: none;
    }
  }
  

   
